@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #ECECEC;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.header {
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header.active {
    background: rgb(255, 255, 255);
    width: 100%;
    box-shadow: 10px 10px 30px rgba(103, 103, 103, 0.479);
}


.brand {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.signup {
    padding: 10px;
    border-radius: 15px;
    border: 0;
    background-color: dodgerblue;
    cursor: pointer;
}

.toogle-btn {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}


/* .brand:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    top: 17;
    left: 0;
    transition: 0.3s ease;
    display: block;
}

.brand:hover:before {
    width: 100%;
} */

.navigation-items a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-family: 'Raleway', sans-serif;
}

.navigation-items a::before {
    content: '';
    max-width: 49px;
    height: 2px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    bottom: 19px;
    width: 0%;
    transition: 2s ease;
}

.navigation-items a:hover::before {
    width: 100%;
}

.sec01 {
    padding: 6.4rem 2rem;
}


#lottie-player {
    width: 300px;
    height: 300px;
}

/*MAIN CONTENT*/

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home-text {
    width: 50%;
}

.home-text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    margin-top: -30px;
}

.home-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.qrcode-button-div {
    margin-top: 30px;
}

.qrcode-btn {
    padding: 15px;
    border-radius: 20px;
    border: 0;
    background-color: dodgerblue;
    font-family: 'Raleway',sans-serif;
    cursor: pointer;
    color: #ECECEC;
}

.qrcode-btn:hover {
    box-shadow: 5px 5px 10px rgba(143, 163, 172, 0.479);
    transition: .1s ease-in;
    background-color: #F0DB4F;
    color: #000;
}

.gif-div img {
    min-width: 210px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

/*Animated cards*/
.card-container-title {
    text-align: center;
    margin: 40px 0;
    font-family: 'Raleway', sans-serif;
    font-size: rem;
}


.main-container {
    display: flex;
    justify-content: center;
    align-items: center;

   
}

.container {
    position: relative;
    display: flex;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;

    background-color: dodgerblue;
    padding: 60px 0;
}

.card {
    z-index: 0;
    position: relative;
    width: 330px;
    height: 180px;
    background: #ffffff;
    transition: .5s;
    box-shadow: 10px 10px 10px rgba(173, 185, 215, 0.219);
    border-radius: 7px;
}

.card:hover {
    height: 250px;
}

.card img {
    max-width: 240px;
    width: 0%;
    padding-top: 15px;
}

.card:hover img {
    width: 100%;
}


.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding: 10px 0 -1px;
}

.card .content .details {
    padding: 17px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(80px);
}

.card:hover .content .details {
    transform: translateY(0px);
}



.card .content .details p {
    font-family: 'Raleway', sans-serif;
    color: rgb(25, 25, 25);
    opacity: 0;
    transition: 0.5s;
}

.card .content .details a {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    padding: 8px 15px;
    background: #F0DB4F;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .content .details p,
.card:hover .content .details a {
    opacity: 1;
}

.convincing-div {
    background-image: url(./images/bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-blend-mode: darken; */

    height: 70vh;
    background-attachment: fixed;
    background-blend-mode: saturation;


    display: flex;
    justify-content: center;
    align-items: center;
}

.convincing-div h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 50px;
    color: #fff;
}

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-text h1 {
    font-family: 'Raleway',sans-serif;
    font-size: 3rem;
}

.contact-text p {
    font-family: 'Poppins',sans-serif;

}













@media screen and (max-width:520px) {
    .header {
        justify-content: space-between;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 100%;
    }

    .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.719);
        z-index: -1;
    }

    .navigation-items {
        display: none;
    }


    .navigation-items a {
        color: black;
        margin: 0 0 8px 0;
    }


    .navigation-items.active {
        background: #fff;
        width: 320px;
        margin: 5px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        /* border: 2px solid linear-gradient(-90deg, rgb(56, 5, 61), rgb(252, 0, 193)); */
    }


    .navigation {
        display: none;
    }

    .navigation-items a::before {
        max-width: 0;
    }
    
    .navigation-items a:hover {
        color: rgb(255, 209, 5);
        font-weight: 800;
        transition: .2s;
    }


    .menu-btn,
    .menu-btn.active {
        background-repeat: no-repeat;
        background-image: url(./images/menu\ bar-black.png);
        cursor: pointer;
        width: 40px;
        height: 7vh;
        z-index: 1;
    }

    .menu-btn.active {
        background-repeat: no-repeat;
        background-image: url(./images/close1.png);
    }

    .menu-btn:hover {
        scale: 1.3;
        transition: .3s;
    }

    #lottie-player {
        width: 300px;
        height: 300px;
    }

    .home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .home-text {
        width: 100%;
    }

}